.pokemon-card
    display flex

    &-cover
        flex 0 0 110px
        min-height 110px
        background-size initial !important
        background-position center center

    &-content
        flex 2 1

    &-actions
        background-color white
