.pokemon-modal
    padding 24px
    display flex
    justify-content center
    align-items flex-start

    &-card
        flex 0 1 800px

        &-cover
            text-align center

            &__image
                width 96px
                height 96px

                @media (min-width: 600px)
                    width 192px
                    height 192px
        &-stats
            overflow-x auto
